@media (max-width: 1500px) {

    .transparencia {
        width: 100%;
        height: 750px;
        background: linear-gradient(0deg, #141414, transparent);
        position: absolute;
        top: 0%;
    }

    a {
        font-size: 14px;
    }

    .barranav{
        height: 68px;
    }

    .navseccion1 {
        display: flex;
        width: 60%;
        align-items: center;
    }

    .navseccion2 {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 22%;
    }

    .navp1 {
        margin-left: 2%;
        margin-right: 3%;
    }

    .navp11{
        margin-right: 5%;
    }

    .perfilimg{
        border-radius: 4px;
    }
    

    .cards {
        display: flex;
        margin: 1% 1% 0% 0%;
        overflow: auto;
        width: 1170px;
        height: 160px;
    }

    .cartas {
        display: flex;
        margin: 1% 1% 0% 0%;
        overflow: auto;
        width: 1170px;
        height: 160px;
    }

}

@media (max-width: 1000px) {
    .cartas {
        display: flex;
        margin: 1% 1% 0% 0%;
        overflow: auto;
        width: 850px;
        height: 160px;
    }

    .cards {
        display: flex;
        margin: 1% 1% 0% 0%;
        overflow: auto;
        width: 850px;
        height: 160px;
    }

    .transparencia {
        width: 100%;
        height: 550px;
        background: linear-gradient(0deg, #141414, transparent);
        position: absolute;
        top: 0%;
    }

    .lista {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        width: 850px;
        height: 100px;
    }

    .footerinfo {
        width: 100%;
    }

    ul {
        padding: 0% 8% 1% 0%;
        font-family: "nefli";
        color: grey;
        list-style: none;
        font-size: 13px;
    }

    .navseccion1 {
        display: flex;
        width: 70%;
        align-items: center;
    }

    .navseccion2 {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 15%;
    }

    .twd {
        width: 400px;
        z-index: 1;
    }

    .nmostrar{
        display: none;
    }


}

@media (max-width: 500px) {

    .series1, .series2, .series3, .series4, .series5, .series6 {
        margin: 0% 4% 0% 0%;
    }

    .navseccion1 {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: unset;
    }

    .navseccion2 {
        display: flex;
        width: 75%;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 22%;
    }

    .foter {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .lista {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        width: 350px;
        height: 100px;
    }

    .videoinfo {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        top: 2%;
        left: 5%;
    }

    .twd {
        width: 120px;
        z-index: 1;
    }

    .twdtxt {
        font-family: "nefli";
        color: white;
        margin: 5% 0% 5% 0%;
        font-size: 13px;
    }

    .nsdhpt {
        width: 50%;
        font-family: "neflibold";
        color: white;
        font-size: 13px;
        z-index: 1;
        position: relative;
    }

    .home {
        display: flex;
        width: 100%;
        margin-top: -10%;
    }

    .botonrep {
        display: flex;
        font-family: "neflibold";
        width: 110px;
        height: 30px;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        border: none;
    }

    .botonindo {
        display: flex;
        font-family: "neflibold";
        width: 160px;
        height: 30px;
        justify-content: space-around;
        align-items: center;
        font-size: 13px;
        color: white;
        background-color: rgba(109, 109, 110, 0.4);
        border: none;
    }
    


    .logo{
        width: 49px;
    }

    .cards {
        display: flex;
        margin: 1% 1% 0% 0%;
        overflow: auto;
        width: 450px;
        height: 160px;
    }

    .barranav{
        height: 45px;
    }

    .cartas {
        display: flex;
        margin: 1% 1% 0% 0%;
        overflow: auto;
        width: 375px;
        height: 150px;
    }

    .transparencia {
        width: 100%;
        height: 240px;
        background: linear-gradient(0deg, #141414, transparent);
        position: absolute;
        top: 0%;
    }

    a{
        font-size: 10px;
    }




    .navp1 {
        margin-left: 8%;
        margin-right: 8%;
    }

    
    .cards::-webkit-scrollbar,
    .cartas::-webkit-scrollbar {
    width: 5px;   /* Ancho de la barra vertical */
    height: 5px;  /* Alto de la barra horizontal */
}


    .nomostrar{
        display: none;
    }
}

    