*{
    margin: 0px;
}

body{
    background-color: #141414 !important;
}


/* fuentes */

@font-face {
    font-family: nefli;
    src: url(/fonts/NetflixSans-Regular.otf);
}

@font-face {
    font-family: neflibold;
    src: url(/fonts/NetflixSans-Bold.otf);
}

/*  */





.barranav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 68px;
    z-index: 2;

}

.navp1 {
    margin-left: 5.5%;
    margin-right: 1%;
}

.navseccion1 {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.navseccion2 {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 30%;
}

.videoinicio{
    width: 100%;
    z-index: 1;
}

.transparencia {
    width: 100%;
    height: 900px;
    background: linear-gradient(0deg, #141414, transparent);
    position: absolute;
    top: 0%;
}


.logo{
    width: 92px;
}

.perfilimg{
    cursor: pointer;
    width: 32px;
    border-radius: 4px;
}

.twd{
    width: 450px;
    z-index: 1;
}

.twdtxt{
    font-family: "nefli";
    color: white;
    margin: 5% 0% 5% 0%;
    z-index: 1;
}

.videoinfo {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    top: 35%;
    left: 5%;
}

.botonrep{
    display: flex;
    font-family: "neflibold";
    width: 150px;
    height: 46px;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    border: none;
    z-index: 1;
}

.botonrep:hover{
    cursor: pointer;
    background-color: rgb(181, 181, 181);
}

.botonesinicio{
    width: 400px;
    display: flex;
    justify-content: space-around;
    
}

.botonindo{
    display: flex;
    font-family: "neflibold";
    width: 200px;
    height: 46px;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    color: white;
    background-color: rgba(109, 109, 110, 0.4);
    border: none;
    z-index: 1;
}

.botonindo:hover {
    cursor: pointer;
    background-color: rgb(82 82 82 / 40%);
}

.nsdhpt {
    width: 50%;
    font-family: "neflibold";
    color: white;
    font-size: 21px;
}


.home{
    display: flex;
    width: 100%;
}

.card {
    width: 95%;
    text-align: start;
    margin-left: 5%;
    position: absolute;
    top: 90%;
}

.carta {
    margin-top: 5%;
    width: 95%;
    text-align: start;
    margin-left: 5%;
    top: 90%;
}

.cartas {
    display: flex;
    margin: 1% 1% 0% 0%;
    overflow: auto;
    width: 1430px;
    height: 160px;
}

.cards {
    display: flex;
    margin: 1% 1% 0% 0%;
    overflow: auto;
    width: 1430px;
    height: 160px;
}

.series1, .series2, .series3, .series4, .series5, .series6{
    margin: 0% 1% 0% 0%;
}

.serie1{
    width: 230px;
    height: 139px;
    background-image: url(/img/serie1.webp)!important;
    border: none !important;
}





.foter{
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: center;
}

.redes{
    width: 200px;
}

.lista {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 1050px;
    height: 100px;
}

ul {
    padding: 0% 11% 1% 0%;
    font-family: "nefli";
    color: grey;
    list-style: none;
    font-size: 13px;
}


li{
    margin-top: 4%;
}

.cds{
    font-family: "nefli";
    font-size: 12px;
    width: 125px;
    height: 30px;
    background-color: transparent;
    border: 2px solid grey;
    margin-bottom: 2% ;
    color: grey;
}

.grey{
    font-family: "nefli";
    font-size: 12px;
    color: grey;
    margin-bottom: 5%;
}

a {
    text-decoration: none !important;
    color: #e5e5e5 !important;
    font-family: "nefli";
    font-style: 13px !important;
}














/* barra de scroll */


body::-webkit-scrollbar {
    width: 7px;    
}
  
body::-webkit-scrollbar-track {
    background: transparent;   
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(36, 36, 36); 
    border-radius: 20px;      
    border: 3px solid rgba(0, 0, 0, 0);
}


.cards::-webkit-scrollbar,
.cartas::-webkit-scrollbar {
    width: 10px;   /* Ancho de la barra vertical */
    height: 10px;  /* Alto de la barra horizontal */
}

.cards::-webkit-scrollbar-track,
.cartas::-webkit-scrollbar-track {
    background: transparent;   
}

.cards::-webkit-scrollbar-thumb,
.cartas::-webkit-scrollbar-thumb   {
    background-color: rgb(36, 36, 36); 
    border-radius: 20px;      
    border: 3px solid rgba(0, 0, 0, 0);
}




/* fin barra de scroll */



.barranav {
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.barranav.scrolled {
    transition: 1s;
    background-color: black;
}

/* Otros estilos de la navbar */




